
.MapContainer {
  height: 300px;
  min-width: 280px;
  max-width: 400px;
}

.leaflet-touch .leaflet-bar a {
  padding: 0 !important;
  border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -ms-border-radius: 0 !important;
  -o-border-radius: 0 !important;
}
#map { height: 180px; }